@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none !important;
    list-style-type: none !important;
    box-sizing: border-box !important;
}

body {
    overflow-x: hidden;
}

@media (min-width:1200px) and (max-width:1440px) {
    .mycontainer {
        max-width: 1140px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 12px;
        padding-right: 12px;
    }

}

@media (max-width:1920px) {
    .container-fluid{
        padding-left: 50px;
        padding-right: 50px;
    }
}

.ff_plus_jakarta {
    font-family: 'Plus Jakarta Sans',
        sans-serif;
}

.ff_poppins {
    font-family: 'Poppins',
        sans-serif;
}

:root {
    /* font sizes  */
    --fs-xsm: 12px;
    --fs-sm: 13px;
    --fs-md: 14px;
    --fs-lg: 15px;
    --fs-xl: 16px;
    --fs-2xl: 18px;
    --fs-3xl: 17px;
    --fs-4xl: 32px;
    --fs-5xl: 44px;
    --fs-6xl: 48px;



    /* / COLOR */
    --color-white: #FBFDFF;
    --color-bg_body: #020D15;

}

/* font size  */
.fs_xsm {
    font-size: var(--fs-xsm);
}

.fs_sm {
    font-size: var(--fs-sm);
}

.fs_md {
    font-size: var(--fs-md);
}

.fs_lg {
    font-size: var(--fs-lg);
}

.fs_xl {
    font-size: var(--fs-xl);
}

.fs_2xl {
    font-size: var(--fs-2xl);
}

.fs_3xl {
    font-size: var(--fs-3xl);
}

.fs_4xl {
    font-size: var(--fs-4xl);
}

.fs_5xl {
    font-size: var(--fs-5xl);
}

.fs_6xl {
    font-size: var(--fs-6xl);
}

/* font weight  */
.fw_400 {
    font-weight: 400;
}

.fw_500 {
    font-weight: 500;
}

.fw_600 {
    font-weight: 600;
}

.fw_700 {
    font-weight: 700;
}

.fw_800 {
    font-weight: 800;
}

.fw_900 {
    font-weight: 900;
}

/* colors  */
.color_white {
    color: var(--color-white);
}

.bg_body {
    background-color: var(--color-bg_body);
}
.color_grey{
    color: #FBFDFF;
}

.button_bg {
    background: linear-gradient(159.94deg, rgba(0, 136, 255, 0.58) -14.36%, #0069E3 113.71%);
}

/* media screen  */
@media (max-width:576px) {
    :root {
        /* font sizes  */

        --fs-xsm: 12px;
        --fs-sm: 13px;
        --fs-md: 14px;
        --fs-lg: 15px;
        --fs-xl: 16px;
        --fs-2xl: 18px;
        --fs-3xl: 20px;
        --fs-4xl: 18px;
        --fs-5xl: 44px;
        --fs-6xl: 18px;



        /* / COLOR */
        --color-white: #FBFDFF;
        --color-bg_body: #020D15;

    }
}

@media (max-width:768px) {
    :root {
        /* font sizes  */
        --fs-xsm: 12px;
        --fs-sm: 13px;
        --fs-md: 14px;
        --fs-lg: 15px;
        --fs-xl: 16px;
        --fs-2xl: 18px;
        --fs-3xl: 20px;
        --fs-4xl: 24px;
        --fs-5xl: 44px;
        --fs-6xl: 26px;

    }
}

@media (max-width:992px) {
    :root {
        /* font sizes  */
        --fs-xsm: 12px;
        --fs-sm: 13px;
        --fs-md: 14px;
        --fs-lg: 15px;
        --fs-xl: 15px;
        --fs-2xl: 18px;
        --fs-3xl: 20px;
        --fs-4xl: 24px;
        --fs-5xl: 24px;
        --fs-6xl: 32px;

    }
}

