.border_white {
    border: 1px solid #FBFDFF
}



.opacity-70 {
    opacity: 70%;

}

.glow-3 {
    width: 416.22px;
    height: 405.43px;
    background: #0066FF;
    opacity: 0.3;
    filter: blur(100px);
    z-index: 0;
    position: absolute;
    left: -25%;
    top: 0% !important;
}

.glow4 {
    width: 381.48px;
    height: 395.79px;
    background: #0066FF;
    opacity: 0.3;
    filter: blur(123.5px);
    z-index: 0;
    position: absolute;
    top: 25%;
    right: 0;
}

.padding-button {
    padding-top: 13px;
}

.padding-button {
    padding-bottom: 13px;
    padding-left: 32px;
    padding-right: 32px;
}

.gap-8 {
    gap: 8px;
}

.radius-40 {
    border-radius: 40px;
    border: none;
}

.btn-bg {
    background: linear-gradient(159.94deg, rgba(0, 136, 255, 0.58) -14.36%, #0069E3 113.71%);
}

.btn-bg:hover.btn-shadow {
    box-shadow: 0px 4px 32px 0px #2746ED80;
}

.tab {
    transform: translateX(-15%);
}

@media(min-width:992px) {

    .max-width-474px {
        max-width: 474px !important;
    }

    .max-width-587px {
        max-width: 587px !important;
    }

    .border-bottomm-line {
        border-bottom: 1px solid #222c33
    }

    .border-right-line {
        border-right: 1px solid #222c33 !important;
    }
}

@media(max-width:992px) {
    .w-100-md {
        width: 100% !important;
    }


}