/* colors  */
.bg_black_slider {
    background: black !important;
    opacity: 0.5 !important;
    mix-blend-mode: screen;
}

/* padding  */
.pl_51 {
    padding-left: 51px;
}

.pt_13 {
    padding-top: 13px;
}

.pb_13 {
    padding-bottom: 13px;
}

.pl_32 {
    padding-left: 32px;
}

.pr_32 {
    padding-right: 32px;
}

.pt_110 {
    padding-top: 110px;
}

.pt_34 {
    padding-top: 34px;
}

.pb_34 {
    padding-bottom: 34px;
}

/* margin  */
.mt_28 {
    margin-top: 28px;
}

/* top bottom left right  */
.top_-40 {
    top: -40px;
}

.top_29 {
    top: 29%;
}

.left_-94 {
    left: -94px;
}

.right_-94 {
    right: -94px;
}

.top_48 {
    top: 48%;
}

.top_72 {
    top: 72%;
}

.right_11 {
    right: 11%;
}

.bottom_-45 {
    bottom: -45px;
}

.left_-134 {
    left: -134px;
}

.bottom_-42 {
    bottom: -42%;
}

.left_-200 {
    left: -200px;
}

.left_-50 {
    left: -50px;
}

.right_-50 {
    right: -50px;
}

.top_-120 {
    top: -120px;
}

/* width  */
.mw_420 {
    max-width: 420px;
}

/* height  */
.h_400 {
    height: 400px;
}

/* line height  */
.lh_80 {
    line-height: 80px;
}

/* opacity  */
.opacity_08 {
    opacity: 0.8;
}

.opacity_07 {
    opacity: 0.7;
}

/* border radius  */
.br_40 {
    border-radius: 40px;
}

/* background  */
.nav_bg {
    background: rgba(251, 253, 255, 0.01) !important;
    border-bottom: 1px solid rgba(251, 253, 255, 0.2) !important;
    backdrop-filter: blur(16.5px);
    position: relative;
    z-index: 11;
}

.overflow {
    overflow: hidden;
}

/* menuicon  */
.menuicon {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 30px;
    height: 25px;
}

.menuicon>span {
    width: 100%;
    height: 5px;
    background-color: white;
    z-index: 5;
}

/* z index  */
.z_11 {
    z-index: 11;
}

/* extra  */
.line {
    border: 2px solid #0389FF;
    width: 109.3px;
    height: 0px;
    position: relative;
    z-index: 2;
}

.color_blue {
    color: #0389FF;
}

.shadow_circle {
    background: #010C18;
    filter: blur(40px);
    width: 327.31px;
    height: 134.14px;
    position: absolute;
    left: -161px;
    z-index: -1;
    top: -70px;
}

.shadow_circle_2 {
    background: #010C18;
    filter: blur(40px);
    width: 327.31px;
    height: 134.14px;
    position: absolute;
    left: -250px;
    z-index: 2;
    top: 300px;
}

.shadow_circle_3 {
    background: #010C18;
    filter: blur(40px);
    width: 327.31px;
    height: 134.14px;
    position: absolute;
    right: -200px;
    z-index: 2;
    top: 250px;
}

.gray {
    filter: grayscale(100%);
}

/* hover  */
.gray:hover {
    filter: grayscale(1%);
    transition: all 0.3s linear;
}

.hover_button:hover {
    box-shadow: 0px 4px 32px rgba(17, 34, 134, 0.5) !important;
    transform: translateY(-5px);
    transition: all 0.2s linear;

}

.nav_li:hover {
    -webkit-text-stroke: 0.8px;
    color: white !important;
    opacity: 1;
}

/* back to top  */
.backToTop {
    right: 30px;
    bottom: 30px;
    display: none;
}

.integration_slider .slick-track {
    height: 100px;
}

.integration_slider .slick-dots {
    display: none !important;
}

/* media screen  */
@media (max-width:1600px) {
    .shadow_circle_3 {
        background: #010C18;
        filter: blur(40px);
        width: 327.31px;
        height: 134.14px;
        position: absolute;
        right: -24px;
        z-index: 2;
        top: 250px;
    }
}

@media (max-width:1200px) {
    .d_none {
        display: none !important;
    }

    .right_-50_xxl {
        right: -50px;
    }

    .left_-50_xxl {
        left: -50px;
    }
}

@media (max-width:992px) {
    .navbar {
        position: fixed;
        align-items: center !important;
        justify-content: center !important;
        top: 70px;
        left: -100%;
        width: 100%;
        display: flex;
        height: 100vh;
        background-color: #020D15 !important;
        backdrop-filter: blur(16.5px);
        z-index: 99 !important;
        transition: all .5s;
    }

    .best_plan_s .border_r {


        border-bottom: 1px solid #fbfdff51;

    }

    .nav_icon,
    .nav-btn {
        display: inline-block;
        cursor: pointer;
        position: relative;
        z-index: 999;
    }

    .bar1,
    .bar2,
    .bar3 {
        width: 35px;
        height: 5px;
        background-color: white;
        margin: 6px 0;
        transition: 0.4s;
    }

    .change .bar1 {
        transform: translate(0, 11px) rotate(-45deg);
    }

    .change .bar2 {
        opacity: 0;
    }

    .change .bar3 {
        transform: translate(0, -11px) rotate(45deg);
    }

    .nav_left0 {
        left: 0px;
    }

    .p_0_lg {
        padding: 0;
    }

    .ml_0_lg {
        margin-left: 0 !important;
    }

    .w_20_lg {
        width: 20%;
    }

    .bottom_-20_lg {
        bottom: -20px;
    }

    .d_none_lg {
        display: none !important;
    }

}

@media (max-width:768px) {
    .pt_40_md {
        padding-top: 40px;
    }
}

@media (max-width:576px) {
    .left_0_sm {
        left: 0;
    }

    .right_0_sm {
        right: 0;
    }

    .bottom_0_sm {
        bottom: 0;
    }
}