.border_white {
    border: 1px solid #FBFDFF
}



.opacity-70 {
    opacity: 70%;

}

.glow-3 {
    width: 416.22px;
    height: 405.43px;
    background: #0066FF;
    opacity: 0.3;
    filter: blur(100px);
    z-index: 0;
    position: absolute;
    left: -30%;
    top: 0% !important;
}

.glow4 {
    width: 381.48px;
    height: 395.79px;
    background: #0066FF;
    opacity: 0.3;
    filter: blur(123.5px);
    z-index: 0;
    position: absolute;
    top: 30%;
    right: 5%;
}

.glow5 {
    width: 381.48px;
    height: 395.79px;
    background: #0066FF;
    opacity: 0.3;
    filter: blur(123.5px);
    z-index: 0;
    position: absolute;
    top: -20%;
    right: 50;
}



.bg_lightblue {
    background: linear-gradient(99.45deg, #0389FF 0%, #0069E3 100%);
}

.padding-button {
    padding-top: 13px;
}

.padding-button {
    padding-bottom: 13px;
    padding-left: 32px;
    padding-right: 32px;
}

.gap-8 {
    gap: 8px;
}

.curser-pointer {
    cursor: pointer;
}

.border_style {
    border: 1px dashed #0069E3 !important;
    border-radius: 5px;
    padding: 12px;

}

.border_white_line {
    border: 1px solid rgba(128, 128, 128, 0.403);
}

.radius-40 {
    border-radius: 40px;
    border: none;
}

.radius-45 {
    border-radius: 45px;
}

.btn-bg {
    background: linear-gradient(159.94deg, rgba(0, 136, 255, 0.58) -14.36%, #0069E3 113.71%);
    transition: all 300ms ease-in-out;
    box-shadow: 0px 4px 32px rgba(39, 70, 237, 0.5);
}

.btn-bg:hover {
    box-shadow: inset 20em 0 0 0 #ffffff;
    color: #0066FF !important;
    transition: all 300ms linear;
}

.btn-bg:hover a {
    color: #0066FF !important;
}

.tab {
    transform: translateX(-15%);
}

.fs_xxsm {
    font-size: 10.88px;
}

.fs_xxxsm {
    font-size: 9.82px;
}

.bg_blue {
    background-color: #021b31;
    padding: 20px;
}

.plus {
    position: absolute;
    right: 0%;
    top: 0%;
}

.tick {
    position: absolute;
    right: -5%;
    top: -10%;
}


.paddingx-20px {
    padding-left: 20px;
    padding-right: 20px;
}

.padding_box {
    padding-right: 16px;
    padding-left: 16px;
    padding-top: 16px;
    padding-bottom: 20px;
}

.padding_23 {
    padding: 23px;
}

.fs_nine {
    font-size: 9px;
}

.pos-card {
    transform: translateX(-8%);
}

.px_33 {
    padding-left: 33px;
    padding-right: 33px;
}

.ws-nowrap {
    white-space: nowrap;
}

@media(min-width:1200px) {
    .bottom-border {
        max-width: 1138.16px;
        height: 1px;
        background-color: white;
        opacity: 20%;
        position: absolute;
        top: 55%;
    }

    .ist-line {
        width: 341.55px;
        height: 1px;
        rotate: calc(90deg);
        background-color: white;
        opacity: 20%;
        position: absolute;
        top: 55%;
        left: 10%;
        display: flex;
    }

    .sec-line {
        width: 341.55px;
        height: 1px;
        rotate: calc(90deg);
        background-color: white;
        opacity: 20%;
        position: absolute;
        top: 55%;
        display: flex;
    }

    .third-line {
        width: 341.55px;
        height: 1px;
        rotate: calc(90deg);
        background-color: white;
        opacity: 20%;
        position: absolute;
        top: 55%;
        right: 9%;
        display: flex;
    }

    .integration_img {
        transition: all .3s;
    }

    .integration_img:hover {
        transform: scale(1.1);
    }
}

.arrow {
    position: absolute;
    top: 50%;
    right: 5px;
}

.circle-pos {
    position: absolute;
    top: -50%;
}


@media(max-width:1107px) {
    .d-none-11 {
        display: none;
    }
}



@media(min-width:992px) {

    .max-width-474px {
        max-width: 474px !important;
    }

    .max-width-587px {
        max-width: 587px !important;
    }


}


@media(max-width:992px) {
    .w-100-md {
        width: 100% !important;
    }


}

@media(max-width:1192px) {
    .w-100-xl {
        width: 100%;
    }


}